* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}

.container .header {
    background-color: #46926d6f;
}
.container .menu {
    background-color: #4646926f;
}
.container .content {
    background-color: #9251466f;
}
.container .footer {
    background-color: #08a2176f;
}


.container div {
    padding: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
}